.title{
	color:#FFFFFF;
	font-weight: bold;
	font-size: 30px;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	text-align:left;
	word-spacing:2pt;
	text-shadow:1px 1px 1px rgba(46,39,26,1);
}

.content {
	color:#FFFFFF;
	font-weight: normal;
	font-size: 100%;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	text-align:left;
	word-spacing:2pt;
}

.content3 {
	color:#990F0F;
	font-weight: bold;
	font-size: 100%;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	text-align:left;
	word-spacing:2pt;
	text-shadow:1px 1px 1px rgba(46,39,26,1);
	list-style-type: none;
}

input[type=file] {
	color:#FFFFFF;
	font-weight: normal;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	text-align:center;
	word-spacing:2pt;
	margin-left: 2%;
}

.link {
	color: #f0a118;
}

.link:visited {
	color: #ffffff;
} 

.link:hover {
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}